<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599527269798-57qkmhssibr4gsntvj2bvs88a9oae4ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599527269798-57qkmhssibr4gsntvj2bvs88a9oae4ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDjPc1e40luc9--sWovKYUvYrU4Xcu2OuE</string>
	<key>GCM_SENDER_ID</key>
	<string>599527269798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nugetrenki.zaqmovie123</string>
	<key>PROJECT_ID</key>
	<string>zaqmovie-81748</string>
	<key>STORAGE_BUCKET</key>
	<string>zaqmovie-81748.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599527269798:ios:e30000197d7cfd5ad29b67</string>
</dict>
</plist>